<!DOCTYPE html>
<head style="height:100%">
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Параметры сети</title>
    @Styles.Render("~/bootstrap")
    @Styles.Render("~/main")
</head>
<body style="background-color: black;" ng-app="ConfigurationIP">
<div ng-controller="controller">
    <designer></designer>
</div>
@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/angularjs")
@Scripts.Render("~/bundles/bootstrap")
@Scripts.Render("~/bundles/other")
@Scripts.Render("~/bundles/app")
</body>



